# AmeriSave Assignment

This was a fascinating test. I realized after working with the data that the underlying challenge is, "How do we define what is 'best'?"

Output:
Return a stack-ranked list of travel agents ordered from best to worst.

I started with customer rating.
Please follow along as I've documented my journey

## Research the tables (what's in them?)
Even though I had the table creation commands, I wanted to see what was in each table to get a better understanding of how they could be linked.

In [0]:
select * from assignment_history limit 10;

AssignmentID,AgentID,CustomerName,CommunicationMethod,LeadSource,AssignedDateTime
1,7,Evelyn Brooks,Phone Call,Organic,2081-02-01T09:00:00Z
2,14,Lucas Chen,Text,Bought,2081-02-01T10:30:00Z
3,3,Amara Patel,Text,Organic,2081-02-01T11:15:00Z
4,25,Jasper Kim,Phone Call,Bought,2081-02-01T13:00:00Z
5,7,Zara Singh,Text,Organic,2081-02-01T14:20:00Z
6,17,Milo Davis,Phone Call,Bought,2081-02-02T09:45:00Z
7,9,Aurora Ramirez,Text,Organic,2081-02-02T10:10:00Z
8,14,Theo White,Phone Call,Organic,2081-02-02T11:55:00Z
9,28,Isla Nguyen,Text,Bought,2081-02-02T13:40:00Z
10,1,Rowan Scott,Phone Call,Organic,2081-02-02T15:00:00Z

In [0]:
select * from bookings limit 10;

BookingID,AssignmentID,BookingCompleteDate,CancelledDate,Destination,Package,LaunchLocation,DestinationRevenue,PackageRevenue,TotalRevenue,BookingStatus
1,1,2081-02-01T10:00:00Z,null,Mars,Luxury Dome Stay,Dallas-Fort Worth Launch Complex,150000.00,25000.00,175000.00,Confirmed
2,2,null,2081-02-01T11:00:00Z,Europa,Zero-Gravity Yacht Cruise,New York Orbital Gateway,120000.00,20000.00,140000.00,Cancelled
3,4,2081-02-01T13:30:00Z,null,Titan,Ringside Cruise,Dubai Interplanetary Hub,140000.00,30000.00,170000.00,Confirmed
4,5,null,2081-02-01T15:10:00Z,Mars,Luxury Dome Stay,Dallas-Fort Worth Launch Complex,150000.00,25000.00,175000.00,Cancelled
5,6,2081-02-02T10:00:00Z,null,Venus,Cloud City Excursion,Tokyo Spaceport Terminal,130000.00,25000.00,155000.00,Confirmed
6,8,2081-02-02T12:00:00Z,null,Mars,Luxury Dome Stay,New York Orbital Gateway,150000.00,30000.00,180000.00,Confirmed
7,9,null,null,Europa,Glacier Trek Adventure,London Ascension Platform,125000.00,20000.00,145000.00,Pending
8,10,2081-02-02T15:30:00Z,null,Ganymede,Private Observatory Suite,Sydney Stellar Port,110000.00,15000.00,125000.00,Confirmed
9,11,null,2081-02-03T10:00:00Z,Titan,Ringside Cruise,Dubai Interplanetary Hub,140000.00,25000.00,165000.00,Cancelled
10,13,2081-02-03T11:30:00Z,null,Mars,Luxury Dome Stay,Dallas-Fort Worth Launch Complex,150000.00,25000.00,175000.00,Confirmed

In [0]:
select * from space_travel_agents limit 10;

AgentID,FirstName,LastName,Email,JobTitle,DepartmentName,ManagerName,SpaceLicenseNumber,YearsOfService,AverageCustomerServiceRating
1,Aurora,Tanaka,aurora.tanaka@astra2081.com,Senior Space Travel Agent,Interplanetary Sales,Lyra Chen,SL-2081-001,12,4.0
2,Kai,Rodriguez,kai.rodriguez@astra2081.com,Space Travel Agent,Luxury Voyages,Lyra Chen,SL-2081-002,7,4.0
3,Nova,Singh,nova.singh@astra2081.com,Senior Space Travel Agent,Premium Bookings,Zane Holloway,SL-2081-003,15,4.0
4,Leo,Kim,leo.kim@astra2081.com,Space Travel Agent,Interplanetary Sales,Lyra Chen,SL-2081-004,5,4.0
5,Vera,Nguyen,vera.nguyen@astra2081.com,Space Travel Agent,Luxury Voyages,Zane Holloway,SL-2081-005,3,3.9
6,Soren,Baker,soren.baker@astra2081.com,Lead Space Travel Agent,Premium Bookings,Zane Holloway,SL-2081-006,18,4.6
7,Mira,Patel,mira.patel@astra2081.com,Space Travel Agent,Interplanetary Sales,Lyra Chen,SL-2081-007,4,4.5
8,Orion,Davis,orion.davis@astra2081.com,Senior Space Travel Agent,Luxury Voyages,Zane Holloway,SL-2081-008,10,4.4
9,Luna,Martinez,luna.martinez@astra2081.com,Space Travel Agent,Premium Bookings,Zane Holloway,SL-2081-009,6,4.4
10,Zara,Khan,zara.khan@astra2081.com,Space Travel Agent,Luxury Voyages,Lyra Chen,SL-2081-010,2,4.0

## Best Agent by Customer Rating
I'm making an assumption about how we consider each agent the "best". For this test, I decided to use customer rating

This was my first attempt at ranking the agents. As you can see, since it is only ranking by AverageCustomerServerRating and we have multiple people with the same ranking.

In [0]:
SELECT
  AgentID
	, FirstName
	, LastName
	, RANK() OVER (ORDER BY SUM(AverageCustomerServiceRating) DESC) AS CustomerServiceRating
FROM
  space_travel_agents
GROUP BY AgentID, FirstName, LastName
ORDER BY
  CustomerServiceRating;

AgentID,FirstName,LastName,CustomerServiceRating
23,Cassian,Ward,1
12,Nia,Ramirez,1
28,Mila,Reed,3
22,Juno,Brooks,4
11,Elias,Walker,5
19,Calypso,White,5
6,Soren,Baker,7
7,Mira,Patel,8
8,Orion,Davis,9
9,Luna,Martinez,9
20,Orla,Patel,9
25,Enzo,Nguyen,9
13,Atlas,Foster,13
29,Sage,Cooper,13
24,Phoebe,Diaz,13
21,Arlo,Scott,16
14,Selene,Ali,16
15,Rhea,Chen,18
1,Aurora,Tanaka,19
18,Dax,Reyes,19
16,Zion,Parker,19
10,Zara,Khan,19
4,Leo,Kim,19
2,Kai,Rodriguez,19
3,Nova,Singh,19
27,Ronan,Young,19
5,Vera,Nguyen,27
26,Vega,Price,28
30,Zuri,Bennett,29
17,Lyra,Morgan,30

## Attempt 2: Adding TotalRevenue 

To get a more accurate picture of how the agents should be ranked, I added TotalRevenue from the Bookings table. 

This table collects the data for the next step:

In [0]:
--select AssignmentID, AgentID from assignment_history limit 10;
--select BookingID, AssignmentID, BookingStatus  from bookings where BookingStatus = 'Confirmed';
--select AgentID, FirstName,LastName, AverageCustomerServiceRating from space_travel_agents limit 10;

select space_travel_agents.AgentID
      , space_travel_agents.FirstName
      , space_travel_agents.LastName
      , space_travel_agents.AverageCustomerServiceRating
      , sum(bookings.TotalRevenue) as TotalRevenue 
from bookings 
inner join assignment_history on bookings.AssignmentID = assignment_history.AssignmentID
inner join space_travel_agents on assignment_history.AgentID = space_travel_agents.AgentID
where BookingStatus = 'Confirmed' 
group by space_travel_agents.AgentID, space_travel_agents.FirstName, space_travel_agents.LastName, space_travel_agents.AverageCustomerServiceRating;

AgentID,FirstName,LastName,AverageCustomerServiceRating,TotalRevenue
13,Atlas,Foster,4.3,1595000.00
6,Soren,Baker,4.6,1850000.00
3,Nova,Singh,4.0,1795000.00
12,Nia,Ramirez,5.0,1725000.00
26,Vega,Price,3.8,1300000.00
7,Mira,Patel,4.5,1765000.00
23,Cassian,Ward,5.0,1725000.00
30,Zuri,Bennett,3.7,1370000.00
25,Enzo,Nguyen,4.4,1595000.00
4,Leo,Kim,4.0,1380000.00
8,Orion,Davis,4.4,1295000.00
28,Mila,Reed,4.9,1695000.00
1,Aurora,Tanaka,4.0,1450000.00
2,Kai,Rodriguez,4.0,1315000.00
17,Lyra,Morgan,3.3,1930000.00
16,Zion,Parker,4.0,965000.00
20,Orla,Patel,4.4,1555000.00
15,Rhea,Chen,4.1,1415000.00
10,Zara,Khan,4.0,1310000.00
18,Dax,Reyes,4.0,1425000.00
5,Vera,Nguyen,3.9,1740000.00
29,Sage,Cooper,4.3,1110000.00
19,Calypso,White,4.7,1950000.00
27,Ronan,Young,4.0,1795000.00
9,Luna,Martinez,4.4,1475000.00
21,Arlo,Scott,4.2,1290000.00
22,Juno,Brooks,4.8,1480000.00
24,Phoebe,Diaz,4.3,1625000.00
11,Elias,Walker,4.7,1675000.00
14,Selene,Ali,4.2,1435000.00

## Best Agent by Customer Rating and Total Revenue

In [0]:
SELECT 
    AgentID,
    FirstName,
    LastName,
    AverageCustomerServiceRating,
    TotalRevenue,
    RANK() OVER (
        ORDER BY AverageCustomerServiceRating DESC, TotalRevenue DESC
    ) AS AgentRank
FROM (
    SELECT 
        space_travel_agents.AgentID,
        space_travel_agents.FirstName,
        space_travel_agents.LastName,
        space_travel_agents.AverageCustomerServiceRating,
        SUM(bookings.TotalRevenue) AS TotalRevenue
    FROM bookings 
    INNER JOIN assignment_history ON bookings.AssignmentID = assignment_history.AssignmentID
    INNER JOIN space_travel_agents ON assignment_history.AgentID = space_travel_agents.AgentID
    WHERE bookings.BookingStatus = 'Confirmed'
    GROUP BY 
        space_travel_agents.AgentID, 
        space_travel_agents.FirstName, 
        space_travel_agents.LastName, 
        space_travel_agents.AverageCustomerServiceRating
) AS RankedAgents
ORDER BY AgentRank;

AgentID,FirstName,LastName,AverageCustomerServiceRating,TotalRevenue,AgentRank
12,Nia,Ramirez,5.0,1725000.00,1
23,Cassian,Ward,5.0,1725000.00,1
28,Mila,Reed,4.9,1695000.00,3
22,Juno,Brooks,4.8,1480000.00,4
19,Calypso,White,4.7,1950000.00,5
11,Elias,Walker,4.7,1675000.00,6
6,Soren,Baker,4.6,1850000.00,7
7,Mira,Patel,4.5,1765000.00,8
25,Enzo,Nguyen,4.4,1595000.00,9
20,Orla,Patel,4.4,1555000.00,10
9,Luna,Martinez,4.4,1475000.00,11
8,Orion,Davis,4.4,1295000.00,12
24,Phoebe,Diaz,4.3,1625000.00,13
13,Atlas,Foster,4.3,1595000.00,14
29,Sage,Cooper,4.3,1110000.00,15
14,Selene,Ali,4.2,1435000.00,16
21,Arlo,Scott,4.2,1290000.00,17
15,Rhea,Chen,4.1,1415000.00,18
3,Nova,Singh,4.0,1795000.00,19
27,Ronan,Young,4.0,1795000.00,19
1,Aurora,Tanaka,4.0,1450000.00,21
18,Dax,Reyes,4.0,1425000.00,22
4,Leo,Kim,4.0,1380000.00,23
2,Kai,Rodriguez,4.0,1315000.00,24
10,Zara,Khan,4.0,1310000.00,25
16,Zion,Parker,4.0,965000.00,26
5,Vera,Nguyen,3.9,1740000.00,27
26,Vega,Price,3.8,1300000.00,28
30,Zuri,Bennett,3.7,1370000.00,29
17,Lyra,Morgan,3.3,1930000.00,30

# Conclusion

Hopefully, this notebook has demonstrated how I could approach a problem like this. 

Next steps would include finding out exactly how "best" is defined for this scenario so the notebook can be updated accordingly.